.diary-post {
 
justify-content: center;
    background-color: #f0f8ff;  
    border-radius: 15px;
    padding: 30px;
    margin: 30px;
    max-width: 700px;
    font-family: 'Georgia, serif';
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #cdcdcd;
    color: #171717; 
    .img-post{
      width: 80%;
    }
    .button-post{
      background-color:burlywood;
      color:black;
    }
  }